
<div class="post">
    
    <div class="d-flex">
        <h4 class="title mr-auto"><%= post.title %></h4>
        <span class="time"><%= timePassed(post.date) %></span>
    </div>
    

    <hr>
    
    <div class="row">

        <div class="col-lg-4">
            
            <div class="post-detail-wrap d-none d-lg-block">
                <%- partial('_partial/post-detail.ejs', { post: post }) %>
            </div>
            
        </div>

        <div class="col-lg-8">

            <div class="body">

                <span class="post-detail-wrap d-lg-none">
                    <%- partial('_partial/post-detail.ejs', { post: post }) %>
                </span>
                
                <div class="content">
                    <%- post.content %>
                </div>
                
            </div>

        </div>
    </div>
</div>