
<div class="post">

    <div class="post-header">
        <div class="container">
            <div class="title-bar d-flex">
                <h4 class="title mr-auto"><%= post.title %></h4>
                <span class="time"><%= timePassed(post.date) %></span>

            </div>
        </div>
    </div>
    
    <div class="post-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-none d-lg-block">
                        <%- partial('_partial/post-meta.ejs', { post: post, small: false }) %>
                    </div>
                </div>
                <div class="col-lg-8">
                    <span class="d-lg-none">
                        <%- partial('_partial/post-meta.ejs', { post: post, small: true }) %>
                    </span>
                    <div class="body">
                        <%- post.content %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>